
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DeliverLauout.cshtml";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Philosopher:wght@700&family=Poppins:wght@400;500&family=Work+Sans&display=swap" rel="stylesheet">


<div class="container-fluid m-0 p-0">
    <img src="~/picture/b77718321204c40f1efffec2d04003d3.jpg" class="w-50" /><img src="~/picture/2f043579def4d975a9132acb62e13dfe.jpg" class="w-50" />
</div>