
.drop {
    width: 200px;
}

.btnmenu {
    padding: 10px 20px;
    background-color: #d1cfc7;
    color: #055160;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
}

.dropmunu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #055160;
    border: 1px solid #d1cfc7;
    border-radius: 4px;
    z-index: 1;
    margin-top: 1px;
    margin-left: 30px;
    border-radius: 10px;
}


    .dropmunu li {
        padding: 10px;
        text-align: center;
        width: 180px;
    }

        .dropmunu li a:hover {
            background-color: #d1cfc7;
            color: #055160;
            border-radius: 5px;
        }

        .dropmunu li a {
            text-decoration: none;
            color: #d1cfc7;
            display: block;
            font-family: 'Philosopher', sans-serif;
            letter-spacing: 1px;
            font-size: 16px;
        }


.drop:hover .dropmunu {
    display: block;
}




.titleproduct {
    color: #3f51b5;
    font-family: 'Philosopher', sans-serif;
    font-size: 26px;
    border-bottom: 0px solid;
    padding-bottom: 2px;
    font-size: 26px;
    transition: color 0.3s ease-in-out;
}

.brandproduct {
    color: #fd7e14;
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}



.cardproduct:hover .desproduct {
    max-height: 100px;
}

.priceproduct h2 {
    color: darkcyan;
    font-family: 'Philosopher', sans-serif;
    font-size: 28px;
    transition: color 0.3s ease-in-out;
}

.btnwatch {
    background-color: #3f51b5;
    color: aliceblue;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background-color 0.1s ease-in-out;
}

    .btnwatch:hover {
        background-color: #fd7e14;
        color: #001bb0;
    }

.detproduct {
    max-height: 0;
    overflow: hidden;
    color: darkcyan;
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,max-height 0.5s ease-in-out;
    overflow: hidden;
}

.cardproduct:hover .detproduct {
    max-height: 100px;
    transform: translateY(0);
    opacity: 1;
}





.card {
    transition: transform 0.5s ease-in-out;
}

.cardproduct:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}



  


.desproduct {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    overflow: hidden;
    color: #607D8B;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    max-height: 0;
}

.card:hover .desproduct {
    transform: translateY(0);
    opacity: 1;
    max-height: 100px;
}
.custom-footer {
    background-color: transparent;
    border: none;
}

.custum-bg {
    height: 360px;
    background: #f1f1f1;
    border-radius: 12px;
}
.popup {
    box-sizing: border-box;
    width: 350px;
    background-color: #dee2e6;
    border-radius: 6px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0px 30px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

    .popup img{
        width: 95px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        border: none;
       background-color:aliceblue;
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
        color: crimson;
        font-family: 'Lobster', cursive;
    }

    .popup button {
        width: 100px;
        margin-top: 50px;
        padding: 10px 0;
        border-radius: 4px;
        font-size: 18px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        border: none;
    }

    .popup p {
        font-family: 'Poppins', sans-serif;
        color: #6c757d;
    }