@{
    ViewData["Title"] = "ProductCategoryActiont";
    Layout = "~/Views/Shared/_actionadminlayout.cshtml";
}

<link href="~/css/home.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/admin.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
@model ProductCetegoryViewModel
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <div id="cityCount">
                        <h3 id="countNumber" class="fs-2">0</h3>

                    </div>
                    <p class="fs-5">Count Of Category</p>
                </div>
                <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>
        <div class="row my-5">
            <div id="formcityinsert">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="insert-menu">


                                <div class="form-group">
                                    <h2 id="hinsert" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">INSERT ProductCategory</h2>
                                    <h2 id="hupdate" hidden="hidden" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Update ProductCategory</h2>
                                    <input type="text" class="form-control" placeholder="NAME" asp-for="name" autocomplete="off">
                                    <div class="form-group">
                                        <input type="datetime-local" class="form-control" placeholder="DATE" asp-for="date" autocomplete="off">
                                    </div>

                                </div>
                                <div>
                                    <button id="btnAdd" class="btn btn-dark btn-lg" style="border-radius:15%;font-size:12px;letter-spacing:2px;font-weight:700">Plus</button>
                                    <button id="btnUpdate" class="btn btn-dark btn-lg" style="border-radius:15%;font-size:12px;letter-spacing:2px;font-weight:700" hidden="hidden">Update</button>
                                    <span id="spancityinsert" hidden="hidden" style="margin:100px;color:teal">Insert Successful  <img src="~/picture/done_all_fill1_wght400_grad0_opsz24.svg" /></span>
                                    <span id="spancityupdate" hidden="hidden" style="margin:100px;color:teal">Update Successful  <img src="~/picture/done_all_fill1_wght400_grad0_opsz24.svg" /></span>
                                    <span id="spancitydellet" hidden="hidden" style="margin:100px;color:teal">Delete Successful  <img src="~/picture/done_all_fill1_wght400_grad0_opsz24.svg" /></span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div>
                <h3 class="fs-4 mb-3 text-center" style="font-family:'Times New Roman', Times, serif;letter-spacing:2px;" a>List Of Brands</h3>
                <div class="container" id="divselect">
                    <table class="table bg-white rounded shadow   " id="tbl">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {

        Select()


        let btnAdd = $("#btnAdd")
        btnAdd.click(function () {

            $.post('/Admin/ProductCategoryInsertConfirm', { name: $("#name").val(), date: $("#date").val() }, function (value) {
                $("#name").val(null)
                $("#date").val(null)


                $("#spancityupdate").attr("hidden", true)
                $("#spancitydellet").attr("hidden", true)
                $("#spancityinsert").attr("hidden", false)
                $("input").click(function () {
                    $("#spancityinsert").attr("hidden", true)
                })
                Select()
            })

        })

    })
    let i = 1
    let tbl = $("#tbl")
    function Select() {
        $("#tbl").html(null)

        $.post("/Admin/ProductCategoryselect", function (value) {
            let th = `<thead class=" bg-info text-light"><tr><th>#</th><th>NAME</th><th>DATE CREATED</th><th>Delete</th><th>Edit</th><tr></thead>`
            tbl.append(th)
            let tbody = "<tbody></tbody>"

            tbl.append(tbody)
            $("#countNumber").text(value.length);

            value.forEach((object, index) => {
                let tr = `<tr><td>${i}</td>
                                <td>${object.name}</td>
                                <td>${object.date}</td>

                                          <td><button class="btn btn-outline-danger" style="border-radius:7px;font-size:12px;width:100px" onclick="F1(${object.id})">Delete</button></td>
                                              <td><button class="btn btn-outline-secondary" style="border-radius:7px;font-size:12px;width:100px" onclick="F2(${object.id})">Edit</button></td>
                               </tr>`
                tbl.append(tr)
                i++
            })
        })

    }
    function F1(id) {
        $.post("/Admin/ProductCategoryDelete", { id: id }, function (value) {
            $("#spancityinsert").attr("hidden", true)
            $("#spancityupdate").attr("hidden", true)
            $("#spancitydellet").attr("hidden", false)
            $(".form-control").click(function () {
                $("#spancitydellet").attr("hidden", true)

            })
            Select();
        })
    }
    let objectid;
    function F2(id) {
        objectid = id;
        $.post("/Admin/ProductCategoryEdit", { id: id }, function (value) {
            $("#name").val(value.name);
            $("#date").val(value.date);

            $("#spancityupdate").attr("hidden", true);
            $("#spancitydellet").attr("hidden", true);
            $("#spancityinsert").attr("hidden", true);

            $("#hinsert").attr("hidden", "hidden");
            $("#hupdate").attr("hidden", false);
            $("#btnUpdate").attr("hidden", false);
            $("#btnAdd").attr("hidden", "hidden");
        })
    }
    $("#btnUpdate").click(function () {
        $.post('/Admin/ProductCategoryUpdate', { id: objectid, name: $("#name").val(), date: $("#date").val() }, function (value) {
            $("#spancityupdate").attr("hidden", false);
            $("#spancitydellet").attr("hidden", true);
            $("#spancityinsert").attr("hidden", true);
            $("#hinsert").attr("hidden", false);
            $("#hupdate").attr("hidden", true);
            $("#name").val(null);
            $("#date").val(null);
            $("#description").val(null);
            $("#btnUpdate").attr("hidden", true);
            $("#btnAdd").attr("hidden", false);
            $(".form-control").click(function () {
                $("#spancityupdate").attr("hidden", true)
            })
            Select();
        })
    })





</script>

