
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <div class="container">
        <h1>404 - Not Found</h1>
        <p>The requested page was not found on the server.</p>
      
    </div>
</body>